<!-- <p class="text-center pt-3 text-4xl">Welcome to Dom's Store</p>
<p class="text-center ">This is a fake store made using angular, fakestoreAPI, TypeScript, Node, and Stripe. Enjoy browsing!</p>

<div class="flex justify-center p-16">
        <button 
        routerLink="/home"
        class="bg-violet-500 hover:bg-violet-400 text-white font-bold py-2 px-4 border-b-4 border-violet-700 hover:border-violet-500 rounded">
            Go To Store
    </button>
</div> -->
<div class="bg-violet-100 -mt-16">
    <div class="grid grid-cols-5 gap-3 m-16 grid-rows-6 h-screen pt-8 pb-16">
        <div class="col-span-2 row-span-6">
            <div class="h-full flex justify-center flex-col -mt-8">
               <p class="text-6xl pt-16 font-thin">Welcome to the <span class="text-violet-500">JustForFun</span>  store!</p>
                <p class="text-lg py-4">This is a fake store made using angular, fakestoreAPI, TypeScript, Node, and Stripe. Enjoy browsing!</p>
                <button 
                    routerLink="/home"
                    class=" w-1/4 bg-violet-500 hover:bg-violet-400 text-white font-bold py-2 px-4 border-b-4 border-violet-700 hover:border-violet-500 rounded">
                    Go To Store
                </button> 
            </div>
            
        </div>
        <div  class="col-span-2 row-span-2 rounded-md bg-violet-300"></div>
        <div
        *ngIf='products' 
        class="transition ease-in-out row-span-2 bg-white rounded-md shadow-lg border border-4 border-violet-400 flex items-center justify-center 
                hover:rotate-12 hover:shadow-2xl hover:scale-125 hover:border-violet-600 group"
        >
            <img src="{{products[0].image}}" class="h-3/4 rounded-md " />
            <div class="h-full w-full bg-white hidden group-hover:block absolute opacity-50"></div>
            <button
                routerLink="/home" 
                class="absolute top-50 left-50 bg-violet-500 px-4 py-2 text-white rounded-full hidden group-hover:block drop-shadow-md">
                Go to Store 
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div  
        *ngIf='products' 
        class="transition ease-in-out row-span-2 col-start-4 bg-white rounded-md shadow-lg border border-4 border-violet-400 flex items-center justify-center 
                hover:-rotate-12 hover:shadow-2xl hover:scale-125  hover:border-violet-600 group"
        >
            <img src="{{products[1].image}}" class="h-3/4 rounded-md " />
            <div class="h-full w-full bg-white hidden group-hover:block absolute opacity-50"></div>
            <button 
                routerLink="/home"
                class="absolute top-50 left-50 bg-violet-500 px-4 py-2 text-white rounded-full hidden group-hover:block drop-shadow-md">
                Go to Store
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div  class="row-span-2 rounded-md bg-violet-300"></div>
        <div 
        *ngIf='products' 
        class="transition ease-in-out row-span-2 col-start-3 row-start-5 bg-white rounded-md shadow-lg border border-4 border-violet-400 flex items-center justify-center  
                hover:rotate-12 hover:shadow-2xl hover:scale-125  hover:border-violet-600 group"
        >
            <img src="{{products[2].image}}" class="h-3/4 rounded-md " />
            <div class="h-full w-full bg-white hidden group-hover:block absolute opacity-50"></div>
            <button 
                routerLink="/home"
                class="absolute top-50 left-50 bg-violet-500 px-4 py-2 text-white rounded-full hidden group-hover:block drop-shadow-md">
                Go to Store
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div  class="row-span-2 col-span-2 col-start-4 row-start-5 rounded-md bg-violet-300"></div>
    </div>
</div>