<mat-card  [ngClass]="{'text-center' : !fullWidthMode}">
    <div [ngClass]="{flex: fullWidthMode}">
        <img class="mx-auto mb-1 h-[200px]" 
        [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]' : fullWidthMode}"
        src="https://via.placeholder.com/150"
        />
        <div class="w-full"
            [ngClass]="{'px-8 flex flex-col justify-between' : fullWidthMode}">
            <div>
                <h5>Shoes</h5>
                <p class="truncate hover:whitespace-normal">Dunks</p>
                <p *ngIf="fullWidthMode">Description</p>
            </div>
            <div class="flex justify-between">
                <span class="font-extrabold text-lg py-1">{{'150' | currency}}</span>
                <button
                (click)="onAddToCart()" 
                class="px-3 py-1 transition ease-in duration-200 rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none">
                    ADD TO CART                 
                </button>
            </div>
        </div>
    </div>
</mat-card>